// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: white; // Using this variable
}

a {
  &:hover {
    color: white;
  }
}

h1 {
  font-family: Helvetica;
}
